
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<form>
<input type="button" value="Register user" (click)="register()" style="margin-left: 2cm;" [disabled]="f1"/></form>
<div *ngIf="b1">
  <h2 style="margin-left: 2cm;">Registered user pls sign in..!</h2>
<form [formGroup]=" loginref" (ngSubmit)="login()" style="margin-left: 2cm;">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    
    <input type="submit" value="Log In">
  </form>
</div>
<div *ngIf="r1">
  <h2 style="margin-left: 2cm;">New user Register....</h2>
  <form [formGroup]="userref" (ngSubmit)="registeruser()" style="margin-left: 2cm;">
    <div class="form-group">
      <label > Name</label>
      <input type="text" class="form-control" formControlName="username">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label >password</label>
      <input type="password" class="form-control" formControlName="password" >
    </div>
    <p>Form Status: {{ userref.status }}</p>
    <input type="submit" value="register" [disabled]="!userref.valid">

  </form>
</div>
